    /* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

    /*  Styles */


    /* Header */

html {
    background-color: #fafafa;
}

body {
    font-family: Ubuntu, Overpass, sans-serif;
    font-weight: 16px;
    font-weight: 400;
}

.header {
    height: 600px;
    width: 100%;
    background-image: linear-gradient( to right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    border-radius: 0 0 0 90px;
}

.header-content {
    width: 100%;
    height: 600px;
    background-image: url(/images/bg-pattern-intro.svg);
    background-position: -300px -1350px;
    padding: 60px 160px;
}

.header-nav {
    display: flex;
    flex-direction: row;
    
    height: 70px;
}

.header-nav__blogr {
    display: flex;
    align-items: center;
}

.header-nav__info {
    display: flex;
    flex: 1 1 auto;
    padding-left: 60px
}

.info__product {
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    padding: 10px 10px 25px;
    color: hsl(0, 0%, 92%);
    font-weight: bold;
    cursor: pointer;
}

.info__product:hover {
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    text-decoration: underline 2px;
}

.info__product-arrow {
    margin: 5px 0 5px 10px;
    cursor: pointer;
}

.info__product:hover .info__product-arrow {
    margin: 5px 0 5px 10px;
    cursor: pointer;
    transform: scaleY(-1);
}

.info__product:hover .info__nav {
    display: block;
}

.info__nav {
    display: none;
    flex-direction: column;
    width: 150px;
    position: absolute;
    top: 130px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 6px;
    box-shadow: 0 3px 6px rgb(0 0 0 / 15%);
    font-weight: 400;
}

.info__nav-product {
    left: 317px;
}

.info__nav-company {
    left: 439px;
}

.info__nav-connect {
    left: 568px;
}

.info__nav-item {
    display: block;
    text-decoration: none;
    color: hsl(208, 49%, 24%);
    padding: 15px 20px;
    cursor: pointer;
}

.info__nav-item:hover {
    font-weight: bold;
}

.info__nav-item:first-child {
    padding-top: 20px;
}

.info__nav-item:last-child {
    padding-bottom: 20px;
}

.header-nav__login {
    display: flex;
    margin: 0;
}

.login {
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    padding: 10px 10px 25px;
    font-weight: bold;
    cursor: pointer;
}

.login a {
    color: hsl(0, 0%, 92%);
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline 2px;
}

.sing-up {
    margin-right: 20px;
    display: flex;
    align-items: flex-end;
    padding: 10px 10px 12px;
    font-weight: bold;
    cursor: pointer;
}

.sing-up__btn {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: hsl(356, 100%, 66%);
}

.sing-up__btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    transition: .2s;
}

.header__main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.header__main-text h2 {
    font-size: 65px;
    text-align: center;
    font-family:  Overpass, Ubuntu, sans-serif;
    font-weight: 700;
    color: hsl(0, 0%, 100%);
    padding-bottom: 25px;
}

.header__main-text p {
    text-align: center;
    color: hsl(0, 0%, 92%);
    padding-bottom: 100px;
}

.header__main-btn1 {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    border: none;
    font-weight: bold;
    color: hsl(356, 100%, 66%);
    margin-right: 8px;
}

.header__main-btn1:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    transition: .2s;
}

.header__main-btn2 {
    width: 140px;
    height: 50px;
    border-radius: 30px;
    background-color: transparent;
    border-color: hsl(0, 0%, 100%);
    border-style: solid;
    font-weight: bold;
    color: hsl(0, 0%, 100%);
    margin-left: 8px;
}

.header__main-btn2:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(356, 100%, 66%);
    transition: .2s;
}

    /* Main */

.main {
    height: 1000px;
    width: 100%;
}

.main__content {
    padding: 160px 0 0 0;
}

.content__future-title {
    text-align: center;
}

.main__content-future {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 160px;
}

.content__future-title h2 {
    color: hsl(208, 49%, 24%);
    font-size: 40px;
    font-family: Overpass, Ubuntu, sans-serif;
    font-weight: 600;
}

.content__future-text {
    padding-top: 238px;
    width: 550px;
}

.content__future-text h3 {
    font-size: 25px;
    color: hsl(208, 49%, 24%);
    font-family: Overpass, Ubuntu, sans-serif;
    font-weight: 600;
    padding-bottom: 40px;
}

.content__future-text p {
    line-height: 30px;
    padding-bottom: 40px;
    color: hsl(207, 13%, 34%);
}

.main__content-image {
    background: url(/images/illustration-editor-desktop.svg);
    width: 550px;
    height: 884px;
    background-repeat: no-repeat;
}


    /* Cell */

.cell {
    margin-top: 50px;
    height: 400px;
    width: 100%;
    background: linear-gradient(to right ,hsl(237, 17%, 21%), hsl(237, 23%, 32%));
    border-radius: 0 100px;
}

.cell__back {
    height: 100%;
    background: url(/images/bg-pattern-circles.svg);
    background-repeat: no-repeat;
    background-position: -215px -500px;
}

.cell__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 160px;
}

.cell__content-image {
    position: relative;
    top: -60px;
    left: -35px;
}

.cell__conten-text {
    padding: 120px 0;
    width: 690px;
}

.cell__conten-text h2 {
    color: hsl(0, 0%, 100%);
    font-size: 40px;
    font-family: Overpass, Ubuntu, sans-serif;
    font-weight: 600;
}

.cell__conten-text p {
    width: 590px;
    margin-top: 40px;
    line-height: 30px;
    color: hsl(0, 0%, 90%);
}

    /* Laptop */

.laptop {
    height: 1000px;
    width: 100%;
    margin-top: 70px;
}

.laptop__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.laptop__content-image {
    background: url(/images/illustration-laptop-desktop.svg);
    width: 600px;
    height: 884px;
    background-repeat: no-repeat;
    background-position: -275px;
}

.laptop__future-text {
    width: 550px;
    margin-top: 255px;
}

.laptop__future-text h3 {
    font-size: 25px;
    color: hsl(208, 49%, 24%);
    font-family: Overpass, Ubuntu, sans-serif;
    font-weight: 600;
    padding-bottom: 30px;
}

.laptop__future-text p {
    line-height: 30px;
    padding-bottom: 40px;
    color: hsl(207, 13%, 34%);
}

    /* Footer */

.footer {
    background: hsl(240, 10%, 16%);
    height: 360px;
    border-radius: 0 100px 0 0;
}

.footer__content {
    padding: 70px;
}